.ui-dots {
    height: 40px;
    width: 121px;
  }
  
  .ui-dots .dots {
    background-image: url(https://c.animaapp.com/f2BJnpFp/img/dots-shadow@2x.png);
    background-size: 100% 100%;
    height: 40px;
    position: relative;
  }
  
  .ui-dots .dots-2 {
    height: 29px;
    left: 5px;
    position: absolute;
    top: 0;
    width: 111px;
  }
  