.stuff-book {
    height: 600px;
    width: 600px;
  }
  
  .stuff-book .book {
    height: 166px;
    left: 79px;
    position: relative;
    top: 186px;
    width: 433px;
  }
  
  .stuff-book .div {
    height: 166px;
    position: relative;
  }
  
  .stuff-book .book-shadow {
    height: 23px;
    left: 0;
    position: absolute;
    top: 141px;
    width: 433px;
  }
  
  .stuff-book .book-2 {
    height: 166px;
    left: 5px;
    position: absolute;
    top: 0;
    width: 427px;
  }
  