.property-default-wrapper {
    height: 24px;
    position: relative;
    width: 102px;
  }
  
  .property-default-wrapper .resources {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
  }
  